.form-wrapper {
    position: relative;
    min-width: 400px;
    height: fit-content;
    background-color: white;
    margin-top: 100px;
    border-radius: 10px;
    box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    position: relative;
    width: 100%;
    height: 60px;
    background-color: rgb(126, 97, 243);
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.title > h1 {
    position: relative;
    top: -10px;
    color: white;
    font-size: 2rem;
}

.submit-wrapper {
    position: relative;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.input-wrapper {
    position: relative;
    margin-bottom: 30px;
    height: 50px;
    width: 100%;
}

.input-wrapper > input {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    border: solid 2px rgba(0, 0, 0, 0.5);
    background-color: white;
    color: black;
    font-family: 'Varela Round', sans-serif;
    font-size: 1.1rem;
    padding-left: 10px;
    outline: none;
    transition: 300ms;
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.3);
}

.input-wrapper > input:focus {
    border-color: rgb(126, 97, 243);
    box-shadow: 0px 0px 5px rgba(126, 97, 243, 0.5);
}

.input-wrapper > label {
    position: absolute;
    background-color: white;
    font-size: 14px;
    top: -7px;
    left: 15px;
    padding: 0px 5px;
    letter-spacing: 1px;
}

.btnSubmit {
    font-family: 'Varela Round', sans-serif;
    background-color: rgb(0, 141, 0);
    color: white;
    border-radius: 5px;
    height: 50px;
    font-size: 1.3rem;
    font-weight: bold;
    letter-spacing: 2px;
    border: none;
    cursor: pointer;
    transition: 300ms;
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.3);
}

.btnSubmit:hover {
    background-color: rgb(0, 103, 0);
}

.submit-wrapper > p {
    position: relative;
    margin-top: 10px;
    margin-bottom: 40px;
    text-align: right;
    font-size: 16px;
}

.submit-wrapper > p > a {
    color: rgb(87, 75, 254);
}