.header-logo {
    margin-top: 30px;
    width: 100%;
    text-align: center;
    z-index: 1;
}

.header-logo > h1 {
    font-family: 'Cabin Sketch', sans-serif;
    font-weight: bold;
    color: white;
    font-size: 4rem;
    user-select: none;
    letter-spacing: 2px;
}

.form-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    min-width: 400px;
    height: fit-content;
    overflow: hidden;

    background-color: white;
    border-radius: 10px;
    box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.3);
}

.title {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 60px;
    margin-bottom: 40px;
    user-select: none;

    background-color: rgb(126, 97, 243);
}

.title > h1 {
    position: relative;
    top: 10px;

    color: white;
    font-size: 2rem;
}

.submit-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    user-select: none;
}

.input-wrapper {
    position: relative;
    width: 100%;
    height: 50px;
    margin-bottom: 30px;
}

.input-wrapper > input {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding-left: 10px;

    font-family: 'Varela Round', sans-serif;
    font-size: 1.1rem;
    color: black;

    background-color: white;
    border: solid 2px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.3);
    outline: none;
    transition: 300ms;
}

.input-wrapper > input:focus {
    border-color: rgb(126, 97, 243);
    box-shadow: 0px 0px 5px rgba(126, 97, 243, 0.5);
}

.input-wrapper > label {
    position: absolute;
    top: -7px;
    left: 15px;
    padding: 0px 5px;

    font-size: 14px;
    letter-spacing: 1px;
    background-color: white;
}

.btnSubmit {
    height: 50px;

    font-family: 'Varela Round', sans-serif;
    font-size: 1.3rem;
    font-weight: bold;
    letter-spacing: 2px;
    color: white;

    background-color: rgb(0, 141, 0);
    border: none;
    border-radius: 5px;
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: 300ms;
}

.btnSubmit:hover {
    background-color: rgb(0, 103, 0);
}

.submit-wrapper > p {
    position: relative;
    margin-top: 10px;
    margin-bottom: 40px;
    text-align: right;

    font-size: 16px;
}

.submit-wrapper > p > a {
    color: rgb(87, 75, 254);
}

@media(max-width: 450px) {
    .header-logo > h1 {
        font-size: 3rem;
    }

    .form-wrapper {
        min-width: 325px;
    }
}