.page-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    width: 350px;
    height: fit-content;
    overflow: hidden;

    background-color: white;
    border-radius: 10px;
    box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.3);
}

.header-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 60px;
    margin-bottom: 50px;

    text-align: center;
    color: white;
    background-color: rgb(126, 97, 243);
}

.header-wrapper > h1 {
    position: relative;
    top: 10px;
}

.page-wrapper > img {
    height: 150px;
    margin-bottom: 50px;

    animation: checkmarkAnimation 0.5s;
}

.page-wrapper > button {
    height: 50px;
    width: fit-content;
    padding: 0 15px;
    margin-bottom: 30px;

    font-family: 'Varela Round', sans-serif;
    font-size: 1.3rem;
    font-weight: bold;
    letter-spacing: 1px;
    color: white;

    background-color: rgb(126, 97, 243);
    border: none;
    border-radius: 5px;
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: 300ms;
}

.page-wrapper > button:hover {
    background-color: rgb(89, 64, 192);
}

@keyframes checkmarkAnimation {
    0% {
        opacity: 0;
        transform: scale(0) rotate(0deg);
    }
    45% {
        opacity: 1;
        transform: scale(1.2) rotate(45deg);
    }
    100% {
        transform: scale(1) rotate(0deg);
    }
}