.menu-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}

.organize-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    margin-top: 60px;
    width: 350px;
    height: fit-content;
    overflow: hidden;

    text-align: center;
    color: white;
}

h2 {
    margin: 40px;

    font-weight: bold;
}

.label-create {
    align-self: flex-start;
    margin: 10px 50px;

    font-size: 24px;
}

.input-create {
    width: 250px;
    height: 30px;
    margin-bottom: 10px;

    font-size: 16px;
    color: white;

    background-color: rgba(240, 248, 255, 0.349);
    border: none;
    border-radius: 5px;
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.3);
}

.btn-create {
    width: 80px;
    height: 40px;

    font-family: 'Varela Round', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    color: white;

    background-color: rgb(0, 141, 0);
    border: none;
    border-radius: 5px;
    box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: 300ms;
}

.btn-create:hover {
    background-color: rgb(0, 103, 0);
}