.create-event-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}

.event-form-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    width: 100%;
    height: fit-content;
    gap: 20px;
    overflow: hidden;
}

.event-form-wrapper > h1 {
    text-align: center;
    color: white;
}

.event-form {
    position: relative;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.event-form > .input-group {
    position: relative;

    height: fit-content;
    width: fit-content;

    padding: 20px;
    border-radius: 5px;

    background-color: white;
    box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.3);
}

.event-form > .input-group > label{
    position: absolute;
    top: 10px;
    left: 30px;
    padding: 0px 4px;

    font-size: 0.9rem;
    letter-spacing: 1px;
    background-color: white;
    color: black;
}

.event-form > .input-group > .event-input {
    box-sizing: border-box;
    width: 250px;
    height: 40px;
    padding-left: 10px;
    cursor: pointer;

    font-family: 'Varela Round', sans-serif;
    font-size: 1.1rem;
    color: black;

    background-color: white;
    border: solid 2px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.3);
    outline: none;
    transition: 300ms;
}

.event-form > .input-group > .event-input:focus {
    border-color: rgb(126, 97, 243);
    box-shadow: 0px 0px 5px rgba(126, 97, 243, 0.5);
}

.btn-create-event {
    height: 50px;
    width: 290px;

    font-family: 'Varela Round', sans-serif;
    font-size: 1.3rem;
    font-weight: bold;
    letter-spacing: 2px;
    color: white;
    margin-bottom: 20px;

    background-color: rgb(0, 141, 0);
    border: none;
    border-radius: 5px;
    box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: 300ms;
}

.btn-create-event:hover {
    background-color: rgb(0, 103, 0);
}

#error-message {
    color: red;
    font-size: 1.1rem;
    letter-spacing: 1px;
}