.menu-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    padding-top: 70px;
}

.organize-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    width: 100%;
    height: fit-content;
    gap: 20px;
    overflow: hidden;

    text-align: center;
    color: white;
}

.organize-wrapper > h1 {
    margin: 40px;
}

.create-group-input-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    height: fit-content;
    width: fit-content;

    padding: 20px;
    border-radius: 5px;
    gap: 10px;

    background-color: white;
    box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.3);
}
.label-create-group {
    position: absolute;
    top: 10px;
    left: 30px;
    padding: 0px 4px;

    font-size: 0.9rem;
    letter-spacing: 1px;
    background-color: white;
    color: black;
}

.input-create-group {
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    padding-left: 10px;

    font-family: 'Varela Round', sans-serif;
    font-size: 1.1rem;
    color: black;

    background-color: white;
    border: solid 2px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.3);
    outline: none;
    transition: 300ms;
}

.input-create-group:focus {
    border-color: rgb(126, 97, 243);
    box-shadow: 0px 0px 5px rgba(126, 97, 243, 0.5);
}

.btn-create-group {
    height: 40px;

    font-family: 'Varela Round', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 2px;
    padding: 0px 5px;
    color: white;

    background-color: rgb(0, 141, 0);
    border: none;
    border-radius: 5px;
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: 300ms;
}

.btn-create-group:hover {
    background-color: rgb(0, 103, 0);
}

.organize-wrapper > #error-message {
    color: red;
    font-size: 1.1rem;
    letter-spacing: 1px;
}