.card-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    max-width: 100%;
    height: 300px;
    overflow: hidden;
    user-select: none;

    background-color: white;
    border-radius: 10px;
    box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: 300ms;
}

.card-wrapper:hover {
    transform: scale(1.05);
}

.card-wrapper > img {
    position: relative;
    top: 30px;
    height: 150px;
}

.card-header {
    width: 100%;
    height: 60px;

    text-align: center;
    color: white;
    background-color: rgb(126, 97, 243);
}

.card-header > h1 {
    position: relative;
    top: 10px;
}

@media(max-width: 450px) {
    .card-wrapper {
        width: 90%;
        height: 250px;
    }

    .card-wrapper > img {
        height: 125px;
    }

    .card-header > h1 {
        font-size: 1.7rem;
        top: 15px;
    }
}