.event-dashboard-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}

.event-wrapper {
    position: relative;
    width: 90%;
    height: fit-content;
    
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 15px;
    margin-top: 30px;
}

.event-wrapper .info-card {
    position: relative;
    width: 650px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-card > .header-wrapper {
    background-color: transparent;
    font-size: 1.3rem;
    letter-spacing: 2px;
    margin-bottom: 30px;
}

.event-card-wrapper {
    position: relative;
    height: fit-content;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    padding: 20px;
    border-radius: 10px;
    gap: 5px;

    background-color: white;
    box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.3);
}

.event-card-wrapper .status-wrapper {
    font-size: 1.3rem;
    font-weight: bold;
    letter-spacing: 2px;

    margin-bottom: 10px;
}

.status-open {
    color: rgb(10, 204, 0);
}

.status-closed {
    color: rgb(197, 0, 0);
}

.qr-wrapper {
    position: relative;
    margin-bottom: 10px;
}

.code-text {
    font-size: 2rem;
    letter-spacing: 10px;

    margin-bottom: 10px;
}

.date-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.date-row {
    letter-spacing: 1px;
    font-size: 1.1rem;
}

.attendees-section {
    position: relative;
    width: 100%;
    margin-top: 50px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.attendees-section > h1 {
    color: white;
    letter-spacing: 2px;
    margin-bottom: 30px;
}

.attendees-list {
    position: relative;
    height: fit-content;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.attendee-wrapper {
    position: relative;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;

    background-color: white;
    border-radius: 5px;
    box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.3);
}

.attendee-wrapper span{
    flex: 1;
    flex-basis: 0;
    text-align: left;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.attendee-wrapper span:nth-child(3) {
    text-align: end;
}

.attendee-wrapper span:nth-child(2) {
    flex: 2;
}