.home-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    padding-top: 70px;
}

.home-wrapper .cards {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 40px;

    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 20px;
}

@media(max-width: 450px) {
    .home-wrapper .cards {
        gap: 50px;
    }
}