.home-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
}

.cards {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    flex: 1;
    gap: 20px;

    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 20px;
}