* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: 'Varela Round', sans-serif;
}

html, body{
    overflow-x: hidden;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;

    background-color: rgb(53, 0, 103);
}