.menu-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}

.join-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    width: 350px;
    height: fit-content;
    margin-top: 20px;
    overflow: hidden;
    text-align: center;
    color: white;
}

#reader {
    width: 300px;
    height: 300px;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
}

.join-wrapper > p {
    font-weight: bold;
}

.join-wrapper > form {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.join-wrapper > form > input {
    box-sizing: border-box;
    width: 270px;
    height: 40px;
    padding-left: 10px;
    border: solid 2px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    background-color: white;
    outline: none;
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.3);
    color: black;
    transition: 300ms;
    font-family: 'Varela Round', sans-serif;
    font-size: 1.1rem;
}

.join-wrapper > form > input:focus {
    border-color: rgb(126, 97, 243);
    box-shadow: 0px 0px 5px rgba(126, 97, 243, 0.5);
}

.join-button {
    box-sizing: border-box;
    width: 60px;
    height: 40px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    background-color: rgb(0, 141, 0);
    box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.3);
    color: white;
    font-family: 'Varela Round', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: 300ms;
}

.join-button:hover {
    background-color: rgb(0, 103, 0);
}

#reader img[alt="Info icon"] {
    display: none !important;
}

#html5-qrcode-anchor-scan-type-change {
    display: none !important;
}

#reader button {
    padding: 10px 20px !important;
    margin: 10px auto 20px auto !important;
    background-color: rgb(0, 141, 0) !important;
    color: white !important;
    border: none !important;
    border-radius: 5px !important;
    box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.3) !important;
    font-family: 'Varela Round', sans-serif !important;
    font-size: 1rem !important;
    font-weight: bold !important;
    text-decoration: none !important;
    cursor: pointer !important;
    box-sizing: border-box !important;
    width: auto !important;
    transition: 300ms !important;
}

#reader button:hover {
    background-color: rgb(0, 103, 0) !important;
}

#reader button:active,
#reader button:focus {
    background-color: rgb(0, 103, 0) !important;
    border: none !important;
    outline: none !important;
    box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.3) !important;
    transform: translateY(3px) !important;
}