.navbar-wrapper {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 3;
    user-select: none;

    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    height: 70px;
    padding: 10px;

    color: white;
    background-color: rgb(102, 63, 255);
    box-shadow: 0px 10px 0px rgba(0, 0, 0, 0.3);
}

.who-is {
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.logo > h1 {
    font-family: 'Cabin Sketch', sans-serif;
    position: relative;
    top: 5px;
    left: 50px;

    font-size: 2.2rem;
    letter-spacing: 2px;
}

.name {
    position: relative;
    top: 15px;

    font-size: 1.2rem;
}

.nav-icon {
    position: relative;
    top: 5px;
    height: 40px;
    width: fit-content;
    padding: 0px 20px;

    cursor: pointer;
    transition: 300ms;
}

.nav-icon:hover {
    transform: scale(1.2);
    filter: drop-shadow(5px 5px 0px rgba(0, 0, 0, 0.3));
}



@media (max-width: 800px) {
    .navbar-wrapper {
        padding: 5px;
        height: 60px;
    }

    .logo > h1 {
        font-size: 2rem;
        letter-spacing: 1px;
        left: 0px;
        top: 10px;
    }

    .who-is {
        gap: 0px;
    }

    .name {
        display: none;
    }
    
}

@media (max-width: 600px) {
    .navbar-wrapper {
        padding: 5px;
        height: 60px;
    }

    .logo > h1 {
        font-size: 1.4rem;
        text-align: center;
        letter-spacing: 1px;
        left: 0px;
        top: 15px;
    }

    .who-is {
        gap: 0px;
    }

    .name {
        display: none;
    }
    
}