.page-wrapper{
    position: relative;
    min-width: 400px;
    height: fit-content;
    background-color: white;
    border-radius: 20px;
    margin-top: 100px;
    box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.poza{
    position: relative;
    width: 200px;
    height: 200px;
    margin-bottom: 50px;
}

.btn-goLogin{
    font-family: 'Varela Round', sans-serif;
    border: none;
    color: white;
    height: 30px;
    font-size: 0.8rem;
    font-weight: bold;
    letter-spacing: 2px;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 50px;
    background-color: rgb(139, 91, 184);
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.3);
    transition: 300ms;
}

.btn-goLogin:hover{
    background-color: rgb(118, 44, 187);
}