.page-wrapper {
    position: relative;
    display: flex;
    width: 400px;
    height: 500px;
    flex-direction: column;
    overflow: hidden;
    border-radius: 10px;
    align-items: center;
    background-color: white;
    margin-top: 100px;
    box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.3);

}

.header-wrapper {
    color: white;
    background-color: rgb(126, 97, 243);
    width: 100%;
    height: 60px;
    text-align: center;
    margin-bottom: 50px;
}

.header-wrapper > h1 {
    position: relative;
    top: -10px;
}

.page-wrapper > img {
    height: 200px;
    margin-bottom: 50px;
    animation: checkmarkAnimation 0.5s;
}

.page-wrapper > button {
    font-family: 'Varela Round', sans-serif;
    background-color: rgb(126, 97, 243);
    color: white;
    border-radius: 5px;
    padding: 0px 15px;
    height: 50px;
    font-size: 1.3rem;
    font-weight: bold;
    letter-spacing: 2px;
    border: none;
    cursor: pointer;
    transition: 300ms;
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.3);
}

.page-wrapper > button:hover {
    background-color: rgb(89, 64, 192);
}

@keyframes checkmarkAnimation {
  0% {
    opacity: 0;
    transform: scale(0) rotate(0deg);
  }
  45% {
    opacity: 1;
    transform: scale(1.2) rotate(45deg);
  }
  100% {
    transform: scale(1) rotate(0deg);
  }
}