html, body {
  margin: 0;
  padding: 0;
  font-family: 'Varela Round', sans-serif;
}

#root {
  min-height: 100vh; 
  width: 100%;
  background-color: rgb(53, 0, 103);
  display: flex;
  justify-content: center;
}