html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Varela Round', sans-serif;
}

#root {
  background-color: rgb(53, 0, 103);
  display: flex;
  justify-content: center;
}