.join-wrapper{
    position: relative;
    text-align: center;
    min-width: 400px;
    height: fit-content;
    background-color: rgba(29, 4, 52, 0.181);
    border-radius: 20px;
    padding: 20px;
    margin-top: 50px;
    overflow: hidden;
    
}

.join-button {
    font-family: 'Varela Round', sans-serif;
    background-color: rgb(0, 141, 0);
    color: white;
    border-radius: 5px;
    height: 30px;
    font-size: 0.8rem;
    cursor: pointer;
    margin-bottom: 20px;
    transition: 300ms;
}

.join-button:hover {
    background-color: rgb(0, 103, 0);
}

input{
    height: 30px;
    border-radius: 5px;
    background-color: rgba(80, 29, 128, 0.201);
    color: white;
}

#html5-qrcode-button-camera-permission{
    height: 30px;
    background-color: rgba(89, 12, 113, 0);
    font-size: 0.8rem;
    margin: 20px;
}